body{
  min-width: auto;
}
.header{
  width: 100%;
  height: 45px;
  font-size: 12px;
  min-width: auto;
  &>img{
    left: 20px;
  }
}
.vct{
  height: 280px;
  animation: vctinitm 0.5s ease-in-out 400ms forwards;
}
.menubtns{
  width: 320px;
  height: 40px;
  gap: 10px;
}
.menubtns a{
  font-size: 13px;
  font-weight: 600;
}

@media (hover:none){
  .menubtns a.hover{
    color: #292929;
  }
}
.menubtns::before{
  border-radius: 8px;
}
.menubtns .deco{
  border-radius: 8px;
  width: 64px;
  height: 32px;
  margin: 4px;
}
@media (hover:hover){
  .menubtns:has(.b1:hover) .deco{
    transform: translate(83px);
  }
  .menubtns:has(.b2:hover) .deco{
    transform: translate(164px);
  }
  .menubtns:has(.b3:hover) .deco{
    transform: translate(246px);
  }
}

.contractcont{
  height: 90px;
}
@media (hover:none){
  .contractcont.hover {
    &::after {
        opacity: 0;
    }
  }
}
.contract{
  font-size: 16px;
}
.morebtn{
  width: 40px;
  margin-right: 40px;
}
.morebtn svg{
  scale: 1;
}
.morebtn svg path{
  stroke-width: 4px;
}
.footer{
  font-size: 13px;
  height: 360px;
}

/* @keyframes vctinitm {
from{height: 100vh;}
to{height: 280px;}
} */